h1 {
	text-align: center;
	color: black;
	font-family: arial;
}

h2 {
	text-align: left;
	color: LightSkyBlue;
	font-family: sans-serif;
}

.contents {
	margin: 0% 10% 0% 10%;
}

.contents p, li {
	line-height: 200%;
}